/*create a custom font*/
@font-face{
  font-family: "myFont";
  src:url("/OverloadBurn.ttf") format("truetype");
}
/*use custom font on the website name */
.navbar-brand h1{
  font-family: "myFont";
}
/*change the background to a gradient like background*/
body{
    background: linear-gradient(243deg,#ff6969,#c80036,#fff5e1,#0c1844);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /*background-image:url("/background_image.png");*/



.d-flex{
  background-color: rgb(208, 50, 81);
  border-radius :7px;
  margin-left: 80px;
  
}
/*change the search button text and backgroud when a user hovers on search button*/
.navbar .btn:Hover{
  background-color: rgb(230, 8, 53);
  color: whitesmoke;
}


.navbar .btn{
  color: whitesmoke;
}
.welcome{
  color: whitesmoke;
}
/*ensures the card has a shadow and items are inline with another*/
.card{
  align-items: center;
  margin:35px;
  display:inline-block;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 13.5px;
  position:relative;
}
.navbar{
  margin-bottom: 30px;
}
/*centers the text and image*/
.card-body{
  text-align: center;
  
}
.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: center;
  
}
.card .card-img-top{
  padding-top: 13px; 
}
/*ensure the read more button is in the smae spot on all cards*/
.card .btn.btn-primary{
  background-color: #0e1b4b;
  position:absolute;
  bottom:20px;
  margin-bottom:5px;
  left:50%;
  transform:translateX(-50%)
}
.Home .navbar .navbar-expand-lg .bg-body-tertiary{
  background-color: #FFF5E1;
}
/*when a user hovers the card size will increase and the shadow will stay around the card*/
.card:hover {
  transform: scale(1.15); 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35); 
}
/*chnage the cursor when a user hovers over a star*/
.card .star:Hover{
  cursor:pointer;
}
/*position the star icon which is used to favourite*/
.card .star{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor:pointer;

}

.cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: center;
  
}
/*ensure the heading of the favourites page is white and in the middle of the page*/
.fave-container h1{
  padding-bottom: 100px;
  color: whitesmoke;
  text-align:center;
}
/*create a custom font that will be used on all headings*/
.oswald-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding:15px;
}
/*ensure the text colour is white*/
.distract h2{
  color:whitesmoke;
  text-align:center;
}

.Home h6{
  margin-right: 100px;
}